*{
    font-family: Helvetica;
    box-sizing: border-box;
}

.banner, .stopka{
    background-color: #00838F;
    color: #FFFFFF;
    padding: 5px;
    font-size: 130%;
    text-align: center;
    clear: both;
}

.lewy1, .lewy2{
    background-color: #EFEFEF;
    width: 55%;
}

.lewy1{
    height: 150px;
    float:left;
}

.lewy2{
    height: 300px;
    float:left;
}

.prawy{
    background-color: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
    float:right;
}

img{
    margin: 20px;
    box-shadow: 10px 10px 7px dimgray;
}

table, td, th{
    border: solid 1px #4FB3BF;
    border-collapse: collapse;
}

table{
    width: 80%;
    margin: auto;
}

td, th{
    padding: 4px;
}

tr:hover{
    background-color: #4FB3BF;
}

